/* iframe#webpack-dev-server-client-overlay {
  display: none;
} */


*::before,*::after{
  margin:0;
  padding:0;
}
a{color:black;
  text-decoration:none;
}
.main{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
gap:2em;
font-family: Arial, Helvetica, sans-serif;
}
.main__nav-bar{
  display:flex;
  align-items: center;
  justify-content: center;
}
.cards{
  background-color:white;
  display:grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
gap:2em;
cursor:pointer;
}

.card{
  font-family: Arial, Helvetica, sans-serif;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  background-color:white;
  box-shadow: -4px 14px 5px 2px rgba(0,0,0,0.23);
  -webkit-box-shadow: -4px 14px 5px 2px rgba(0,0,0,0.23);
  -moz-box-shadow: -4px 14px 5px 2px rgba(0,0,0,0.23);
  
  /* height: 400px; */
}
.card:hover{
  /* background-color: lime; */
  transform: scale(1.01);
}
.container{
  max-width: 1440px;
  margin:0 auto;
}
  .img{
display:flex;
justify-content: center;
align-items: center;
height:80%;
width:100%;

  }
 .card-title{
  font-size: 1em;
 }
  .card-buttons{
    display:flex;
  flex-direction: row;
  justify-content: space;
    width:150px;

  }
.recipe-card{
  display:flex;
  flex-direction: column;
  gap:1em;
}
.recipe-card-mainimage{
width:100%;
}
.recipe-card-image{
width:100%;
}
.recipe_card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: lighter;
  line-height: 2;
}
@media screen and (min-width:800px)
{
  .recipe-card{
    flex-direction: row;
 
  }

  .recipe-card-image{
width:500px;
height:800px;
  }
}
  .card-body{
    height:20%;
    display:flex;
    flex-direction: column;
    gap:1em;
    margin-top:0.9em;
    padding:0.5em;
  }
  .btn{
    border-radius:10px;
    border:none;
    padding:0.5em;
    width:40%;
  }
  .main_page-image{
width:100%;
height:500px;
  }
  .page-image{
    width:100%;
    height:100%;
    filter:brightness(80%)
  }
  .image-recipie{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
  }
  .image-recipie p{
    color:whitesmoke;
    font-size: 3.5em;
  }
  .btn-download{
    background-color: lime;
  } 
  .btn-add{
    background-color: aqua;
  }
  .btns{
    display:flex;
    justify-content: space-between;
  }

  .page-loader{
    display:block;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  }

  .hidden{
    display:none
  }
  .spinner {
     width: 56px;
     height: 56px;
     display: grid;
     animation: spinner-plncf9 4s infinite;
  }
  
  .spinner::before,
  .spinner::after {
     content: "";
     grid-area: 1/1;
     border: 9px solid;
     border-radius: 50%;
     border-color: #474bff #474bff #0000 #0000;
     mix-blend-mode: darken;
     animation: spinner-plncf9 1s infinite linear;
  }
  
  .spinner::after {
    border-color: #0000 #0000 #dbdcef #dbdcef;
     animation-direction: reverse;
  }
  
  @keyframes spinner-plncf9 {
     100% {
        transform: rotate(1turn);
     }
  }
   @media screen and (min-width:400px)
  {
    .cards{
      margin:0;
      display:grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media screen and (min-width:800px)
  {
    .cards{
      margin:0;
      display:grid;
      grid-template-columns: repeat(3,1fr);
    }
    
  }
  .form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .active {
    color: #fff700;
    cursor: pointer;
}

.inactive {
    color: #000000;
}
